@{
    ViewBag.Title = "About";
}

<img src="~/Content/images/Maderna-Type.jpg" class="about-logo">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="about-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio orci, sodales in laoreet sed, hendrerit at tortor. Sed tristique odio vel lectus venenatis, vel bibendum magna sollicitudin. Aenean ullamcorper ultrices risus et sollicitudin. Duis suscipit nibh a sem consequat, ut euismod lacus gravida. Integer in augue arcu. Suspendisse semper, nibh sed adipiscing pellentesque, lectus metus vehicula tortor, ac ultricies nisi ligula et lectus. Suspendisse tempus mattis lacus. Proin consectetur in nisi ut ultrices. Phasellus ut eros ut sapien malesuada tristique eget vitae mauris. In tristique fringilla arcu, non molestie tortor placerat eget. Pellentesque ut ornare mi, in eleifend dui. Vivamus ipsum dolor, adipiscing sit amet ultricies eget, suscipit eget neque. Proin fringilla magna non tempus gravida. Duis id nisl euismod metus bibendum scelerisque.
            </p>
            <p>
                Donec auctor libero sit amet urna pellentesque, a laoreet ligula dignissim. Nulla nisi est, commodo quis sapien vitae, facilisis vulputate diam. Duis gravida mollis arcu pharetra elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pretium massa vitae mauris lacinia, in tristique arcu egestas. Pellentesque tincidunt mi id adipiscing vestibulum. Vivamus id convallis massa. Quisque neque odio, rhoncus sed lectus sit amet, ultricies pellentesque mauris. Sed lorem sem, dignissim ac dui eget, faucibus cursus turpis. Praesent cursus, metus ut semper sollicitudin, ante turpis pharetra nisl, ut laoreet ante leo a erat. Morbi sit amet ligula justo. Sed vitae eros at risus congue hendrerit non ut sapien. Phasellus dictum aliquam dolor, at volutpat dolor aliquet sed.
            </p>
            <p>
                Ut non arcu vitae neque vehicula lacinia quis at arcu. Ut eleifend neque ut quam consequat, eget porta nisi ullamcorper. Suspendisse pretium imperdiet elit quis sollicitudin. Cras vitae tristique dui, quis feugiat turpis. Curabitur sit amet augue ut velit convallis interdum id ornare eros. Aenean ut convallis lacus, sit amet elementum urna. Phasellus vel tortor nunc. Praesent lacus mauris, iaculis laoreet dignissim in, congue et ipsum. Cras pellentesque justo ut massa interdum, nec ultricies erat ornare.
            </p>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
