@{
    ViewBag.Title = "Contact";
}
<div class="row-centered">
    <div class="contact-text col-md-4 col-centered">
        <div class="contact-title">
            Angelica Rodríguez Bencosme
        </div>
        <div class="contact-phone">
            1.829.589.3130
        </div>
        <div class="contact-email">
            angelica@maderna.com
        </div>
        <div class="contact-address">
            Apartado Postal núm. 1638, Centro de Los Héroes,<br />
            Santo Domingo, Distrito Nacional,<br />
            República Dominicana
        </div>
    </div>
</div>