@{
    ViewBag.Title = "Contact";
}
<div class="row-centered">
    <div class="ContactText col-md-4 col-centered">
        <div class="ContactTitle">
            Angelica Rodríguez Bencosme
        </div>
        <div class="ContactPhone">
            1.829.589.3130
        </div>
        <div class="ContactEmail">
            angelica@maderna.com
        </div>
        <div class="ContactAddress">
            Apartado Postal núm. 1638, Centro de Los Héroes,<br />
            Santo Domingo, Distrito Nacional,<br />
            República Dominicana
        </div>
    </div>
</div>