@{
    ViewBag.Title = "Home Page";
}

<div id="owl-example" class="owl-carousel">
    <div>
        <img src="~/Content/images/Pictures-1.jpg" />
    </div>
    <div>
        <img src="~/Content/images/Pictures-2.jpg" />
    </div>
    <div>
        <img src="~/Content/images/Pictures-3.jpg" />
    </div>
</div>

