@{
    ViewBag.Title = "Home Page";
}

<div class="OwlNav">
    <div id="products-carousel" class="owl-carousel">
        <div>
            <img src="~/Content/images/Pictures-1.jpg" />
        </div>
        <div>
            <img src="~/Content/images/Pictures-2.jpg" />
        </div>
        <div>
            <img src="~/Content/images/Pictures-3.jpg" />
        </div>
    </div>
</div>

