@model Maderna.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-centered">
    <div class="col-centered col-products-fixed">
        <img src="~/Content/images/K.jpg" id="ProductImage" class="ProductImage" />

    </div>
    <div class="col-centered">
        <div class="ProductText">
            <div class="ProductTitle">
                @Html.DisplayTextFor(model => model.Name)
            </div>
            <div class="ProductDescription">
                @Html.DisplayTextFor(model => model.Description)
                <div class="row">
                    <div class="ProductThumb">
                        <img src="~/Content/images/KS.jpg" onclick='changeImage("/Content/images/K.jpg");' />
                        <img src="~/Content/images/BS.jpg" onclick='changeImage("/Content/images/B.jpg");'>
                        <img src="~/Content/images/IS.jpg" onclick='changeImage("/Content/images/I.jpg");'>
                    </div>
                </div>
            </div>
            <div class="ProductTextBottom hidden-sm hidden-xs"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeImage(a) {
        document.getElementById("ProductImage").src = a;
    }
</script>