@model Maderna.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @*<div class="col-md-2"></div>*@
        <div class="col-md-6">
            <img src="~/Content/images/K.jpg" width="640"/>
        </div>
        <div class="col-md-6">
            <div class="ProductTitle">
                @Html.DisplayTextFor(model => model.Name)
            </div>
            <br />
            <div class="ProductDescription">
                @Html.DisplayTextFor(model => model.Description)
            </div>
        </div>
        @*<div class="col-md-2"></div>*@
    </div>
</div>
