@model Maderna.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-centered">
    <div class="col-centered col-products-fixed">
        <img src="~/Content/images/Product-1-Big.jpg" id="product-image" class="product-image" />
    </div>
    <div class="col-centered-middle">
        <div class="product-text">
            <div class="product-title">
                @Html.DisplayTextFor(model => model.Name)
            </div>
            <div class="product-description">
                @Html.DisplayTextFor(model => model.Description)
                <div class="row">
                    <div class="product-thumb">
                        <img src="/Content/images/Supersmall-Thum1.jpg" onclick='changeImage("/Content/images/Product-1-Big.jpg");'/>
                        <img src="/Content/images/Supersmall-Thum2.jpg" onclick='changeImage("/Content/images/Product-2-Big.jpg");'>
                        <img src="/Content/images/Supersmall-Thum3.jpg" onclick='changeImage("/Content/images/Product-3-Big.jpg");'>
                        <img src="/Content/images/Supersmall-Thum4.jpg" onclick='changeImage("/Content/images/Product-4-Big.jpg");'>
                    </div>
                </div>
            </div>
            <div class="product-text-bottom hidden-sm hidden-xs"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeImage(a) {
        document.getElementById("product-image").src = a;
    }
</script>