@model IEnumerable<Maderna.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-products-centered">
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/1-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/2-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/3-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/4-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/5-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/6-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/7-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/8-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/9-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/10-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/11-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
    <div class="col-centered col-fixed">
        <a style="display:block" href="~/Products/Details/1">
            <div id="box-3" class="box">
                <img src="~/Content/images/12-Thum.jpg" />
                <div class="caption fade-caption">Vikta Table 103</div>
            </div>
        </a>
    </div>
</div>
