@model IEnumerable<Maderna.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-products-centered">
    <div class="col-centered col-fixed">
        <img src="~/Content/images/AS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/BS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/CS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/DS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/ES.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/FS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/GS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/HS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/IS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/JS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/KS.jpg" />
    </div>
    <div class="col-centered col-fixed">
        <img src="~/Content/images/LS.jpg" />
    </div>
</div>