@model IEnumerable<Maderna.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row row-products-centered">
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/AS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/BS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/CS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/DS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/ES.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/FS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/GS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/HS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/IS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/JS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/KS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="col-centered col-fixed">
            <div id="box-3" class="box">
                <a href="~/Products/Details/1"><img src="~/Content/images/LS.jpg" /></a>
                <div class="caption fade-caption">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
    </div>
