@model IEnumerable<Maderna.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/A.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/B.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/C.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/D.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/E.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/F.jpg" /></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/G.jpg" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="productthumb">
                <div class="productthumbtext">
                    <p>Vikta</p>
                    <p>Table</p>
                    <p>103</p>
                </div>
<img src="~/Content/images/H.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/I.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/J.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/K.jpg" /></div>
        </div>
        <div class="col-md-2">
            <div class="productthumb"><img src="~/Content/images/L.jpg" /></div>
        </div>
    </div>
</div>