@model IEnumerable<Maderna.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row row-centered">
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/AS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/BS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/CS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/DS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/ES.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/FS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb">
                <img src="~/Content/images/GS.jpg" />
            </div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb">
                <div class="productthumbtext">
                    <p>Vikta</p>
                    <p>Table</p>
                    <p>103</p>
                </div>
                <img src="~/Content/images/HS.jpg" />
            </div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/IS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/JS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/KS.jpg" /></div>
        </div>
        <div class="col-md-2 col-centered col-fixed">
            <div class="productthumb"><img src="~/Content/images/LS.jpg" /></div>
        </div>
    </div>